<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- Android 6-11: install-time. Ignored from API 31 on. -->
	<uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />

	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<application android:name=".App" android:persistent="true" android:label="DiracUI">
		<activity android:name=".MainActivity" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".BluetoothReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
				<action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
			</intent-filter>
		</receiver>

		<receiver
			android:name=".UnlockReceiver"
			android:exported="true"
			android:directBootAware="true">
			<intent-filter>
				<action android:name="android.intent.action.USER_UNLOCKED" />
			</intent-filter>
		</receiver>

		<service
			android:name=".PersistentBackgroundService"
			android:exported="false" />
	</application>
</manifest>
